* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-family: "Poppins", serif;
	background: rgb(4, 102, 200);
	background: linear-gradient(
		45deg,
		rgba(4, 102, 200, 0.3981967787114846) 0%,
		rgba(98, 154, 209, 1) 0%,
		rgba(221, 221, 221, 1) 100%,
		rgba(172, 195, 216, 1) 100%
	);
}

.editor {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	
	&__editor-container {
		width: 800px;
		background: white;
		border-radius: 20px;
	}

	&__contents {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	
	&__image-random {
		width: 100px;
		height: 200px;
	}
}
