* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

html {
	font-size: 62.5%;
}

:root {
	--light-gray: #c4c4c4;
	--light-gray-hover: #f0f0f0;
	--medium-blue: #005cc8;
	--medium-blue-hover: #4083cf;
}

body {
	background: rgb(4, 102, 200);
	background: linear-gradient(
		45deg,
		rgba(4, 102, 200, 0.3981967787114846) 0%,
		rgba(98, 154, 209, 1) 0%,
		rgba(221, 221, 221, 1) 100%,
		rgba(172, 195, 216, 1) 100%
	);
}

.hidden {
	display: none;
}

.editor {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;

	&__editor-container {
		padding: 6em 4em;
		background: white;
		border-radius: 20px;
		max-width: 1200px;
	}

	&__title {
		font-size: 2.6rem;
		font-weight: 600;
	}

	&__contents {
		display: flex;
		justify-content: space-around;
		padding-top: 2em;
	}

	&__filters {
		display: flex;
		justify-content: center;
		flex-direction: column;
		border: 1px solid var(--light-gray);
		padding: 3em;
		border-radius: 16px;
		margin-right: 1em;
	}

	&__filter-title,
	&__scrollbar-title,
	&__additional-title,
	&__scrollbar-value {
		font-size: 2.2rem;
		font-weight: 500;
		margin-bottom: 1.4rem;
	}

	&__scrollbar-title,
	&__additional-title,
	&__scrollbar-value {
		margin-top: 2rem;
	}

	&__filter-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 10px;
	}

	&__filter-button {
		background: none;
		border: 1px solid var(--light-gray);
		border-radius: 6px;
		padding: 1em 2em;
		font-size: 1.8rem;
		cursor: pointer;
	}

	&__filter-button,
	&__option {
		&:hover {
			background-color: #4f7fd6;
			color: white;
			transition: background-color 0.3s, color 0.3s;
		}
	}

	&__inverstion-title-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__scrollbar-slider {
		width: 100%;
		cursor: pointer;
	}

	&__additional-options-container {
		display: grid;
		width: 100%;
		grid-template-columns: repeat(4, 1fr);
		gap: 5px;
	}

	&__option {
		padding: 1.4em 2em;
		background: none;
		border: 1px solid var(--light-gray);
		border-radius: 6px;
		cursor: pointer;

		i {
			font-size: 1.8rem;
		}
	}
	&__image {
		margin-left: 1em;
		position: relative;
		width: 100%;
		height: auto;
		max-height: 60vh;
	}

	&__canvas {
		display: none;
	}

	&__image-random {
		height: 100%;
		max-width: 100%;
		object-fit: contain;
		border-radius: 16px;
	}

	&__general-options {
		display: flex;
		justify-content: space-between;
	}

	&__general-option {
		margin-top: 2em;
		padding: 1em 2em;
		font-size: 1.6rem;
		background: none;
		border: 1px solid var(--light-gray);
		border-radius: 6px;
		font-weight: 500;
		text-transform: uppercase;
		cursor: pointer;

		&--reset {
			&:hover {
				background-color: var(--light-gray-hover);
				transition: background-color 0.3s, color 0.3s;
			}
		}

		&--choose {
			background: var(--light-gray);
			color: white;

			&:hover {
				background-color: var(--light-gray-hover);
				transition: background-color 0.3s, color 0.3s;
			}
		}

		&--save {
			background-color: var(--medium-blue);
			color: white;

			&:hover {
				background-color: var(--medium-blue-hover);
				transition: background-color 0.3s;
			}
		}
	}
}
